<template>
  <div>
    Hello, world.
  </div>
</template>

<script>
import vue from 'vue'
import {doFooBar} from '~/js/foobar'

export default {
  name: "Main.vue",
  mounted() {
    doFooBar()
    console.log(vue.config)
  }

}
</script>

<style
    lang="scss"
    scoped
>

</style>